.navigation {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% auto;
}
.navigation>nav {
    justify-self: left;
    
}
a {
    padding: 1em;
    text-transform: uppercase;
    font-size: .8em;
}
