<div class="container">
  
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  
      <div class="form">
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
          <mat-label id="label">Task</mat-label>
          <input formControlName="name" matInput autocomplete="off" >
          <mat-error *ngIf="!myForm.get('name').valid && myForm.get('name').touched">Required field</mat-error>
        </mat-form-field>
      </div>

      <div>
          <mat-checkbox formControlName="isParent" id="check-box" (click)="onClick()">
            Parent Task
          </mat-checkbox>
        </div>
  
      <div class="form"> 
          <mat-label id="label">Priority</mat-label>
          <mat-slider
        class="slider-margin"
        [disabled]="isParent"
        [max]="max"
        [min]="min"
        [step]="step"
        [thumbLabel]="thumbLabel"
        formControlName="priority"
        [vertical]="vertical">
    </mat-slider>
      </div>

      <div class="form">
        <mat-form-field floatLabel="auto" appearance="fill">
          <mat-label id="label">Parent Task</mat-label>
          <input formControlName="parentTask" [disabled]="isParent" matInput [value]="parentTask.parentTask === undefined ? '': parentTask.parentTask" readonly autocomplete="off">
        </mat-form-field>
        <button [disabled]="isParent" type="button" mat-icon-button color="primary" (click)="getParentList()">
            <i class="material-icons">
                search
            </i>
        </button>
      </div>      
      
      <div class="form">
          <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
            <mat-label id="label">Start Date</mat-label>
            <input formControlName="startDate" [disabled]="isParent" matInput [matDatepicker]="picker1"
              autocomplete="off" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 ></mat-datepicker>
          </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
          <mat-label id="label">End Date</mat-label>
          <input formControlName="endDate" [min]="myForm.value.startDate" [disabled]="isParent"  matInput [matDatepicker]="picker2"
            autocomplete="off" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
        <button *ngIf="!isParent" mat-button [type]="submit" [disabled]="!myForm.valid" >Save</button>
        <button *ngIf="isParent" mat-button [type]="submit" [disabled]="!myForm.get('name').valid" >Save</button>
    </form>
  </div>